.transmart-tgt-font-container {
  margin-left: 3px;
}

.transmart-tgt-font-active {
  background-repeat: repeat-x;
  background: linear-gradient(to right, #699ef5 0%, #699ef5 50%, transparent 50%, transparent 100%) repeat-x left bottom;
  background-size: 10px 2px;
  padding-bottom: 2.2px;
}

.transmart-tgt-wrapper {
  display: block;
  margin: 0.3em 0;
}
